#sidebar ul{
    list-style: none;
    padding: 0;
}

#sidebar a:hover {
    text-decoration: none;
}

#sidebar li {
    padding: 10px;
    margin: 5px auto;
    background-color: #fff;
    text-align: center;
}
